.container-fluid
  .row
    .col-md-12
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %button.navbar-toggler{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        %a.navbar-brand{:href => root_path} Home
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item.active
              %a.nav-link{:href => "#"}
                Option Menu 1
                
          